In [1]:
import string ,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [2]:
exclude=string.punctuation

In [3]:
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text

In [21]:
text='string.with.punction?'

In [22]:
print(remove_punc(text))

stringwithpunction

In [23]:
start=time.time()
print(remove_punc(text)) #fir this method takes time 
time1=time.time()-start
print(time1*50000)

stringwithpunction
28.562545776367188

In [25]:
def remove(text):
    return text.translate(str.maketrans('','',exclude))

In [ ]:
start=time.time()
remove(text)
time2=time.time()-start #require less time 
print(time2*50000)

7.5817108154296875

In [31]:
import pandas as pd

data=pd.read_csv('remove_punction_dataset.csv')
data.head()

,original_text,clean_text
0,Hello! How are you doing today?,Hello How are you doing today
1,"NLP is amazing, isn't it?",NLP is amazing isnt it
2,I love Python programming!!!,I love Python programming
3,Can machines understand human language?,Can machines understand human language
4,This is a dummy dataset for NLP tasks.,This is a dummy dataset for NLP tasks

In [28]:
data['original_text']

0            Hello! How are you doing today?
1                  NLP is amazing, isn't it?
2               I love Python programming!!!
3    Can machines understand human language?
4     This is a dummy dataset for NLP tasks.
Name: original_text, dtype: object

In [29]:
def remove(text):
    return text.translate(str.maketrans('','',exclude))

data['original_text']=data['original_text'].apply(remove)

In [30]:
data.head()

,original_text,clean_text
0,Hello How are you doing today,Hello How are you doing today
1,NLP is amazing isnt it,NLP is amazing isnt it
2,I love Python programming,I love Python programming
3,Can machines understand human language,Can machines understand human language
4,This is a dummy dataset for NLP tasks,This is a dummy dataset for NLP tasks